<h2>{{ title | titlecase }}</h2>
<!-- Pipes: | is used to apply a pipe to a value which transforms the data-->
{{ date | date }}
<ul>
  <!-- ngForOf can be used to iterate over items within an array -->
  <!-- Multi class binding -->
  <!-- ngClass, ngStyle, ngSwitch -->
  <li
    *ngFor="let course of courses"
    [ngClass]="{
      'another-class': booleanVariable,
      'false-class': true
    }"
    [ngStyle]="{
      fontSize: '24px',
      fontFamily: 'Arial'
    }"
  >
    {{ course | capitalize }}
    <div [ngSwitch]="course">
      <small *ngSwitchCase="'Math 101'">Math Course starts in 3 days.</small>
      <small *ngSwitchCase="'Science 101'"
        >Science Course starts in 1 day.</small
      >
      <small *ngSwitchDefault>Unknown course</small>
    </div>
  </li>
</ul>
