<!-- What is the Angular framework? -->
<!-- A typescript front-end framework for building single page applications (SPA) -->

<main>
  <!-- String interpolation: {{ }} is used to render dynamic content like simple Javascript expressions -->
  <!-- We can also use string interpolation to render the value of a property (title) defined within the associated component typscript file -->
  <h1>{{ 5 > 3 ? title : "No Title" }}</h1>
  <p>This is the app component.</p>

  <!-- What are directive? -->
  <!-- Directives are instructions that tell Angular to manipulate the DOM elements. -->
  <!-- ngIf, ngFor, ngSwitch, ngStyle, ngClass -->
  <app-custom *ngIf="2 > 1"></app-custom>
  <app-custom *ngIf="2 > 3"></app-custom>

  <!-- courses -->
  <course></course>
</main>

<router-outlet />
