<h2 [class]="{ 'text-uppercase': booleanVariable }">{{ title }}</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Level</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let course of courses; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ course.name }}</td>
      <td>{{ course.level }}</td>
      <td>
        <button
          type="button"
          class="btn btn-primary me-2"
          [routerLink]="['/courses', course.id]"
        >
          Edit
        </button>
        <button (click)="deleteCourse(course.id)" class="btn btn-danger">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <button class="page-link" (click)="changePage(currentPage - 1)">
        Previous
      </button>
    </li>
    <li
      class="page-item"
      *ngFor="let page of [].constructor(totalPages); let i = index"
      [class.active]="currentPage === i + 1"
    >
      <button class="page-link" (click)="changePage(i + 1)">{{ i + 1 }}</button>
    </li>
    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <button class="page-link" (click)="changePage(currentPage + 1)">
        Next
      </button>
    </li>
  </ul>
</nav>