<h2>{{ title }}</h2>
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam ea delectus
  quos asperiores iure rerum maxime mollitia ab autem excepturi?
</p>
<!-- property binding updates in one direction: from the component to the DOM -->
<img [src]="imageUrl" [alt]="alt" />
<!-- Attribute binding: certain DOM html elements dont have a 1 to 1 mapping of attributes so we must specify the attribute we want to bind to through "attr" -->
<table>
  <tr [attr.colspan]="colSpan">
    Table data here
  </tr>
</table>
<!-- Two way binding: updates in both directions. From the component to the DOm and vice versa -->
<input type="text" [(ngModel)]="email" (keydown.enter)="onKeyDown()" />
<!-- Event binding: updates in one direction from the DOM element event to the component function -->
<button
  [style.color]="isActive ? 'red' : 'purple'"
  (click)="buttonClick($event)"
>
  Submit
</button>
